<h2>Edit Book:</h2>

<form action="/books/{{myBooks.id}}?_method=put" method="post">
  <p>
    <label>Name:</label>
    <input type="text" value="{{myBooks.title}}" name="title"/>
  </p>
  

    <p>
    <label>Author:</label>
    <input type="text" value="{{myBooks.author}}" name="author"/>
  </p>
 

    <p>
    <label>Year:</label>
    <input type="text" value="{{myBooks.year}}" name="year"/>
  </p>
 

    <p>
    <label>Number of Pages:</label>
    <input type="text" value="{{myBooks.numberOfPages}}" name="numberOfPages"/>
  </p>
 

  <p>
    <label>Genre:</label>
    <input type="text" value="{{myBooks.genre}}" name="genre"/>
  </p>
 

    <p>
    <label>Worth Reading:</label>
    <input type="text" value="{{myBooks.worthReading}}" name="worthReading"/>
  </p>
 

    <p>
    <label>Own it in Hardcover:</label>
    <input type="text" value="{{myBooks.hardcover}}" name="hardcover"/>
  </p>
 

    <p>
    <label>Own it in paperback:</label>
    <input type="text" value="{{myBooks.paperback}}" name="paperback"/>
  </p>
  <input type="submit" value="Update" />
</form>

<h2>Delete Book?</h2>

<form action="/books/{{myBooks.id}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>

