<h1>Information on the Movie</h1>
<h3>Title: {{this.title}}</h3>
<h3>Writer: {{this.writer}}</h3>
<h3>director: {{this.director}}</h3>
<h3>Genre: {{this.genre}}</h3>
<h3>Is it worth watching? {{this.worthTheWatch}}</h3>
<h3>Own it on bluRay: {{this.bluRay}}</h3>
<h3>Own it on DVD? {{this.dvd}}</h3>
<h3>Year it was made? {{this.year}}</h3>


<a href="/movies/editMovie/{{this.id}}"> Edit/Delete</a>


<br>
<br>
<br>

<a href="/movies">Back to Movie Library?</a>


<style>
    body{
     background-image: url("https://media.istockphoto.com/photos/blank-bluray-case-isolated-picture-id868380504?k=6&m=868380504&s=612x612&w=0&h=ZcEwiM8_0ag5lF-8FtOK3j56LgZcSrhzHgrFFd9Nqpw=");
     background-size: cover;
     background-repeat: no-repeat;
    }
    h1{
        text-align: center;
         margin: 0px 0px 30px 0px;
    }
    h3{
        text-align: center;
        margin: 60px 0px 30px 0px;
    }
    a{
        font-size: 18px;
        color: green;
    }
    a:hover{
        color:black;
    }
</style>